body {
  font-family: Helvetica;
  text-align: center;
  color: gray;
}

.header {
  background-image: url(../images/the-flatiron-building.png);
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
  background-attachment: local;
  color: white;
}

.header h1 {
  font-size: 70px;
  font-weight: bold;
}

.header nav {
  font-size: 18px;
}

a {
  color: white;
}

.process {
  color: gray;
}

.process-subheading h3 {
  font-size: 23;
  font-weight: bold;
}

.process-subheading p {
  font-size: 14px;
}

.origin {
  background-image: url(../images/the-flatiron-building.png);
  height: 30px;
  background-position: left center;
  background-repeat: no-repeat;
  opacity: 0.5;
  background-attachment: local;
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.footer {
  background-color: dimgray;
  text-align: left;
}

.footer h6,span {
  color: white;
  display: inline;
  }
