body {
  font-family: Helvetica;
  text-align: center;
  color: black;
}

.header {
  background-image: url(../images/the-flatiron-building.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
  color: white;
}

.header h1 {
  font-size: 70px;
  font-weight: bold;
}

.header nav {
  font-size: 18px;
}

a {
  color: white;
}

.process h2 {
  font-size: 32px;
  font-weight: bold;
}

.process-subheading h3 {
  font-size: 23;
  font-weight: bold;
}

.process-subheading p {
  font-size: 14px;
}

.origin {
  background-image: url(../images/the-flatiron-building.png);
  height: 30px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.footer {
  background-color: dimgray;
  text-align: left;
}

.footer h6, span {
  color: white;
  display: inline;
  }

.identify {
    background-image: url(../images/identify.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 55px;
  }

.understand {
    background-image: url(../images/understand.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 65px;
  }

.execute {
  background-image: url(../images/execute.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 55px;
}
